doctype html
html
  head
    title Dance Acadmy website
    block scripts
    block style 
  body
    nav#navbar 
            ul 
            div#logo 
                img(src="/static/Img/logo.jpg", alt="logo Img")
                | GSD
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info ]
                li #[a(href="/")  Contact Us]
        
    block content
    footer#footer   
            | Copyright @ 2022 gsd_danceacadmy.com | All rights Reserved
    